@import url(
    'https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Source+Code+Pro:wght@300&display=swap'
            );

:root {
    --textColor: coral;
    --linkColor: rgb(55, 62, 129);
    --red: #f44336;
    --white: #FFFFFF;
}

.button {
    display: inline-block;  
    font-size: 30px;
    background-color: var(--white);
    border: 3px solid var(--red);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 500ms;
}


.button:hover {
    background-color: var(--red);
    color: var(--white);
    padding-right: 40px;
}

.button::after {
    content: "\00bb";
    position: absolute;
    right: 2px;
    opacity: 0;
}

.button:hover::after {
    opacity: 1;
    margin: 0 10px 0 0;
}

.button:hover span::after {
   margin: 0 20px 0 10px;
}

button {
    position: relative;
    inset: 200px 0 0 0;
    padding: 20px;

}

body {
    text-align: center;
    position: center; 
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    position: relative;
    inset: 100px 0 0 0; 
    display: inline-block;
    width: max-content;
}

h1::before {
    content: '';
    position: absolute;
    inset: 0;   

    background: var(--white);
    animation: type 3000ms steps(22, end) 500ms forwards
}

h1::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 0.05em;

    background: var(--linkColor);
    animation: type 3000ms steps(22, end) 500ms forwards, blink 800ms linear infinite;
}

@keyframes type {
    from {left: 0;}
    to {left: 100%;}
}

@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}
}

p {
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-size: 35px;
    position: relative;
    inset: 565px 0 0 0;
}

a:link {
    text-decoration: none;
    cursor: pointer;
    color: var(--linkColor);
}

a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--linkColor);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--textColor);
    
}

a:active {
    text-decoration: underline;
    cursor: pointer;
    color: var(--textColor);
}   